({:oklab_luminance "0.995",
  :r "255",
  :name "sun+",
  :palette "base",
  :s "100",
  :l "99",
  :g "253",
  :h "30",
  :b "251",
  :rgb_hex "FFFDFB",
  :set "balanced"}
  {:oklab_luminance "0.98",
   :r "255",
   :name "sun",
   :palette "base",
   :s "100",
   :l "96",
   :g "247",
   :h "33",
   :b "237",
   :rgb_hex "FFF7ED",
   :set "balanced"}
  {:oklab_luminance "0.93",
   :r "242",
   :name "sun-",
   :palette "base",
   :s "53",
   :l "89",
   :g "230",
   :h "36",
   :b "212",
   :rgb_hex "F2E6D4",
   :set "balanced"}
  {:oklab_luminance "0.8",
   :r "190",
   :name "sky+",
   :palette "base",
   :s "0",
   :l "74",
   :g "190",
   :h "0",
   :b "190",
   :rgb_hex "BEBEBE",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "143",
   :name "sky",
   :palette "base",
   :s "0",
   :l "56",
   :g "143",
   :h "0",
   :b "143",
   :rgb_hex "8F8F8F",
   :set "balanced"}
  {:oklab_luminance "0.5",
   :r "99",
   :name "sky-",
   :palette "base",
   :s "0",
   :l "38",
   :g "99",
   :h "0",
   :b "99",
   :rgb_hex "636363",
   :set "balanced"}
  {:oklab_luminance "0.37",
   :r "62",
   :name "shade+",
   :palette "base",
   :s "4",
   :l "25",
   :g "64",
   :h "219",
   :b "68",
   :rgb_hex "3E4044",
   :set "balanced"}
  {:oklab_luminance "0.32",
   :r "48",
   :name "shade",
   :palette "base",
   :s "7",
   :l "20",
   :g "51",
   :h "217",
   :b "56",
   :rgb_hex "303338",
   :set "balanced"}
  {:oklab_luminance "0.27",
   :r "36",
   :name "shade-",
   :palette "base",
   :s "8",
   :l "15",
   :g "39",
   :h "214",
   :b "43",
   :rgb_hex "24272B",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "203",
   :name "red",
   :palette "six",
   :s "52",
   :l "57",
   :g "116",
   :h "14",
   :b "89",
   :rgb_hex "CB7459",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "163",
   :name "yellow",
   :palette "six",
   :s "56",
   :l "40",
   :g "143",
   :h "49",
   :b "45",
   :rgb_hex "A38F2D",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "70",
   :name "green",
   :palette "six",
   :s "40",
   :l "45",
   :g "164",
   :h "148",
   :b "115",
   :rgb_hex "46A473",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "0",
   :name "cyan",
   :palette "six",
   :s "100",
   :l "37",
   :g "160",
   :h "189",
   :b "190",
   :rgb_hex "00A0BE",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "126",
   :name "blue",
   :palette "six",
   :s "51",
   :l "66",
   :g "135",
   :h "233",
   :b "214",
   :rgb_hex "7E87D6",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "189",
   :name "magenta",
   :palette "six",
   :s "36",
   :l "59",
   :g "114",
   :h "316",
   :b "168",
   :rgb_hex "BD72A8",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "202",
   :name "red",
   :palette "seven",
   :s "45",
   :l "61",
   :g "112",
   :h "348",
   :b "129",
   :rgb_hex "CA7081",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "194",
   :name "orange",
   :palette "seven",
   :s "51",
   :l "50",
   :g "125",
   :h "28",
   :b "64",
   :rgb_hex "C27D40",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "146",
   :name "yellow",
   :palette "seven",
   :s "44",
   :l "40",
   :g "150",
   :h "62",
   :b "58",
   :rgb_hex "92963A",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "62",
   :name "green",
   :palette "seven",
   :s "45",
   :l "44",
   :g "165",
   :h "155",
   :b "123",
   :rgb_hex "3EA57B",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "0",
   :name "cyan",
   :palette "seven",
   :s "100",
   :l "36",
   :g "160",
   :h "188",
   :b "186",
   :rgb_hex "00A0BA",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "110",
   :name "blue",
   :palette "seven",
   :s "55",
   :l "63",
   :g "141",
   :h "221",
   :b "213",
   :rgb_hex "6E8DD5",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "172",
   :name "purple",
   :palette "seven",
   :s "34",
   :l "60",
   :g "120",
   :h "285",
   :b "189",
   :rgb_hex "AC78BD",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "202",
   :name "red",
   :palette "eight",
   :s "46",
   :l "60",
   :g "115",
   :h "4",
   :b "108",
   :rgb_hex "CA736C",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "186",
   :name "orange",
   :palette "eight",
   :s "52",
   :l "47",
   :g "130",
   :h "33",
   :b "58",
   :rgb_hex "BA823A",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "141",
   :name "yellow",
   :palette "eight",
   :s "39",
   :l "42",
   :g "151",
   :h "66",
   :b "65",
   :rgb_hex "8D9741",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "71",
   :name "green",
   :palette "eight",
   :s "39",
   :l "46",
   :g "164",
   :h "150",
   :b "119",
   :rgb_hex "47A477",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "0",
   :name "cyan",
   :palette "eight",
   :s "100",
   :l "34",
   :g "162",
   :h "184",
   :b "175",
   :rgb_hex "00A2AF",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "87",
   :name "blue",
   :palette "eight",
   :s "56",
   :l "57",
   :g "148",
   :h "209",
   :b "208",
   :rgb_hex "5794D0",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "148",
   :name "purple",
   :palette "eight",
   :s "42",
   :l "65",
   :g "129",
   :h "255",
   :b "204",
   :rgb_hex "9481CC",
   :set "balanced"}
  {:oklab_luminance "0.65",
   :r "188",
   :name "magenta",
   :palette "eight",
   :s "35",
   :l "59",
   :g "115",
   :h "319",
   :b "164",
   :rgb_hex "BC73A4",
   :set "balanced"}
  {:oklab_luminance "0.995",
   :r "255",
   :name "sun+",
   :palette "base",
   :s "100",
   :l "99",
   :g "253",
   :h "30",
   :b "251",
   :rgb_hex "FFFDFB",
   :set "contrast+"}
  {:oklab_luminance "0.98",
   :r "255",
   :name "sun",
   :palette "base",
   :s "100",
   :l "96",
   :g "247",
   :h "33",
   :b "237",
   :rgb_hex "FFF7ED",
   :set "contrast+"}
  {:oklab_luminance "0.93",
   :r "242",
   :name "sun-",
   :palette "base",
   :s "53",
   :l "89",
   :g "230",
   :h "36",
   :b "212",
   :rgb_hex "F2E6D4",
   :set "contrast+"}
  {:oklab_luminance "0.85",
   :r "206",
   :name "sky+",
   :palette "base",
   :s "0",
   :l "80",
   :g "206",
   :h "0",
   :b "206",
   :rgb_hex "CECECE",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "158",
   :name "sky",
   :palette "base",
   :s "0",
   :l "61",
   :g "158",
   :h "0",
   :b "158",
   :rgb_hex "9E9E9E",
   :set "contrast+"}
  {:oklab_luminance "0.5",
   :r "99",
   :name "sky-",
   :palette "base",
   :s "0",
   :l "38",
   :g "99",
   :h "0",
   :b "99",
   :rgb_hex "636363",
   :set "contrast+"}
  {:oklab_luminance "0.37",
   :r "62",
   :name "shade+",
   :palette "base",
   :s "4",
   :l "25",
   :g "64",
   :h "219",
   :b "68",
   :rgb_hex "3E4044",
   :set "contrast+"}
  {:oklab_luminance "0.27",
   :r "36",
   :name "shade",
   :palette "base",
   :s "8",
   :l "15",
   :g "39",
   :h "214",
   :b "43",
   :rgb_hex "24272B",
   :set "contrast+"}
  {:oklab_luminance "0.22",
   :r "24",
   :name "shade-",
   :palette "base",
   :s "12",
   :l "10",
   :g "27",
   :h "214",
   :b "31",
   :rgb_hex "181B1F",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "225",
   :name "red",
   :palette "six",
   :s "67",
   :l "63",
   :g "129",
   :h "14",
   :b "99",
   :rgb_hex "E18163",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "180",
   :name "yellow",
   :palette "six",
   :s "55",
   :l "45",
   :g "158",
   :h "49",
   :b "51",
   :rgb_hex "B49E33",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "78",
   :name "green",
   :palette "six",
   :s "41",
   :l "50",
   :g "182",
   :h "148",
   :b "127",
   :rgb_hex "4EB67F",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "0",
   :name "cyan",
   :palette "six",
   :s "100",
   :l "41",
   :g "176",
   :h "189",
   :b "210",
   :rgb_hex "00B0D2",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "140",
   :name "blue",
   :palette "six",
   :s "71",
   :l "73",
   :g "150",
   :h "233",
   :b "236",
   :rgb_hex "8C96EC",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "208",
   :name "magenta",
   :palette "six",
   :s "46",
   :l "65",
   :g "126",
   :h "316",
   :b "186",
   :rgb_hex "D07EBA",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "223",
   :name "red",
   :palette "seven",
   :s "60",
   :l "68",
   :g "124",
   :h "349",
   :b "142",
   :rgb_hex "DF7C8E",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "214",
   :name "orange",
   :palette "seven",
   :s "63",
   :l "55",
   :g "139",
   :h "28",
   :b "71",
   :rgb_hex "D68B47",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "161",
   :name "yellow",
   :palette "seven",
   :s "43",
   :l "45",
   :g "166",
   :h "62",
   :b "65",
   :rgb_hex "A1A641",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "68",
   :name "green",
   :palette "seven",
   :s "45",
   :l "49",
   :g "182",
   :h "156",
   :b "137",
   :rgb_hex "44B689",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "0",
   :name "cyan",
   :palette "seven",
   :s "100",
   :l "40",
   :g "177",
   :h "188",
   :b "206",
   :rgb_hex "00B1CE",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "122",
   :name "blue",
   :palette "seven",
   :s "75",
   :l "70",
   :g "155",
   :h "222",
   :b "236",
   :rgb_hex "7A9BEC",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "190",
   :name "purple",
   :palette "seven",
   :s "45",
   :l "67",
   :g "133",
   :h "285",
   :b "209",
   :rgb_hex "BE85D1",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "223",
   :name "red",
   :palette "eight",
   :s "61",
   :l "67",
   :g "127",
   :h "4",
   :b "120",
   :rgb_hex "DF7F78",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "206",
   :name "orange",
   :palette "eight",
   :s "58",
   :l "53",
   :g "144",
   :h "33",
   :b "66",
   :rgb_hex "CE9042",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "156",
   :name "yellow",
   :palette "eight",
   :s "39",
   :l "46",
   :g "167",
   :h "66",
   :b "72",
   :rgb_hex "9CA748",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "80",
   :name "green",
   :palette "eight",
   :s "40",
   :l "51",
   :g "181",
   :h "150",
   :b "132",
   :rgb_hex "50B584",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "0",
   :name "cyan",
   :palette "eight",
   :s "100",
   :l "38",
   :g "179",
   :h "184",
   :b "194",
   :rgb_hex "00B3C2",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "97",
   :name "blue",
   :palette "eight",
   :s "72",
   :l "64",
   :g "163",
   :h "210",
   :b "230",
   :rgb_hex "61A3E6",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "164",
   :name "purple",
   :palette "eight",
   :s "57",
   :l "72",
   :g "143",
   :h "255",
   :b "225",
   :rgb_hex "A48FE1",
   :set "contrast+"}
  {:oklab_luminance "0.7",
   :r "208",
   :name "magenta",
   :palette "eight",
   :s "45",
   :l "65",
   :g "128",
   :h "319",
   :b "182",
   :rgb_hex "D080B6",
   :set "contrast+"}
  {:oklab_luminance "0.995",
   :r "255",
   :name "sun+",
   :palette "base",
   :s "100",
   :l "99",
   :g "253",
   :h "30",
   :b "251",
   :rgb_hex "FFFDFB",
   :set "contrast++"}
  {:oklab_luminance "0.98",
   :r "255",
   :name "sun",
   :palette "base",
   :s "100",
   :l "96",
   :g "247",
   :h "33",
   :b "237",
   :rgb_hex "FFF7ED",
   :set "contrast++"}
  {:oklab_luminance "0.93",
   :r "242",
   :name "sun-",
   :palette "base",
   :s "53",
   :l "89",
   :g "230",
   :h "36",
   :b "212",
   :rgb_hex "F2E6D4",
   :set "contrast++"}
  {:oklab_luminance "0.9",
   :r "222",
   :name "sky+",
   :palette "base",
   :s "0",
   :l "87",
   :g "222",
   :h "0",
   :b "222",
   :rgb_hex "DEDEDE",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "174",
   :name "sky",
   :palette "base",
   :s "0",
   :l "68",
   :g "174",
   :h "0",
   :b "174",
   :rgb_hex "AEAEAE",
   :set "contrast++"}
  {:oklab_luminance "0.5",
   :r "99",
   :name "sky-",
   :palette "base",
   :s "0",
   :l "38",
   :g "99",
   :h "0",
   :b "99",
   :rgb_hex "636363",
   :set "contrast++"}
  {:oklab_luminance "0.37",
   :r "62",
   :name "shade+",
   :palette "base",
   :s "4",
   :l "25",
   :g "64",
   :h "219",
   :b "68",
   :rgb_hex "3E4044",
   :set "contrast++"}
  {:oklab_luminance "0.22",
   :r "24",
   :name "shade",
   :palette "base",
   :s "12",
   :l "10",
   :g "27",
   :h "214",
   :b "31",
   :rgb_hex "181B1F",
   :set "contrast++"}
  {:oklab_luminance "0.17",
   :r "13",
   :name "shade-",
   :palette "base",
   :s "18",
   :l "6",
   :g "15",
   :h "219",
   :b "19",
   :rgb_hex "0D0F13",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "244",
   :name "red",
   :palette "six",
   :s "85",
   :l "70",
   :g "142",
   :h "12",
   :b "116",
   :rgb_hex "F48E74",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "199",
   :name "yellow",
   :palette "six",
   :s "54",
   :l "51",
   :g "173",
   :h "48",
   :b "64",
   :rgb_hex "C7AD40",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "97",
   :name "green",
   :palette "six",
   :s "46",
   :l "57",
   :g "198",
   :h "144",
   :b "138",
   :rgb_hex "61C68A",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "26",
   :name "cyan",
   :palette "six",
   :s "79",
   :l "49",
   :g "194",
   :h "189",
   :b "225",
   :rgb_hex "1AC2E1",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "151",
   :name "blue",
   :palette "six",
   :s "100",
   :l "79",
   :g "166",
   :h "231",
   :b "255",
   :rgb_hex "97A6FF",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "225",
   :name "magenta",
   :palette "six",
   :s "58",
   :l "71",
   :g "141",
   :h "313",
   :b "206",
   :rgb_hex "E18DCE",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "241",
   :name "red",
   :palette "seven",
   :s "78",
   :l "74",
   :g "138",
   :h "346",
   :b "161",
   :rgb_hex "F18AA1",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "234",
   :name "orange",
   :palette "seven",
   :s "77",
   :l "62",
   :g "152",
   :h "26",
   :b "86",
   :rgb_hex "EA9856",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "180",
   :name "yellow",
   :palette "seven",
   :s "41",
   :l "49",
   :g "180",
   :h "59",
   :b "74",
   :rgb_hex "B4B44A",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "88",
   :name "green",
   :palette "seven",
   :s "49",
   :l "56",
   :g "199",
   :h "151",
   :b "146",
   :rgb_hex "58C792",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "22",
   :name "cyan",
   :palette "seven",
   :s "81",
   :l "47",
   :g "195",
   :h "187",
   :b "221",
   :rgb_hex "16C3DD",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "131",
   :name "blue",
   :palette "seven",
   :s "100",
   :l "75",
   :g "173",
   :h "219",
   :b "255",
   :rgb_hex "83ADFF",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "204",
   :name "purple",
   :palette "seven",
   :s "62",
   :l "74",
   :g "148",
   :h "280",
   :b "230",
   :rgb_hex "CC94E6",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "245",
   :name "red",
   :palette "eight",
   :s "85",
   :l "73",
   :g "140",
   :h "5",
   :b "129",
   :rgb_hex "F58C81",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "224",
   :name "orange",
   :palette "eight",
   :s "71",
   :l "57",
   :g "159",
   :h "34",
   :b "71",
   :rgb_hex "E09F47",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "169",
   :name "yellow",
   :palette "eight",
   :s "41",
   :l "52",
   :g "184",
   :h "68",
   :b "82",
   :rgb_hex "A9B852",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "84",
   :name "green",
   :palette "eight",
   :s "50",
   :l "55",
   :g "199",
   :h "153",
   :b "148",
   :rgb_hex "54C794",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "0",
   :name "cyan",
   :palette "eight",
   :s "100",
   :l "42",
   :g "196",
   :h "185",
   :b "215",
   :rgb_hex "00C4D7",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "110",
   :name "blue",
   :palette "eight",
   :s "97",
   :l "71",
   :g "178",
   :h "211",
   :b "253",
   :rgb_hex "6EB2FD",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "182",
   :name "purple",
   :palette "eight",
   :s "83",
   :l "78",
   :g "156",
   :h "257",
   :b "246",
   :rgb_hex "B69CF6",
   :set "contrast++"}
  {:oklab_luminance "0.75",
   :r "229",
   :name "magenta",
   :palette "eight",
   :s "63",
   :l "72",
   :g "140",
   :h "321",
   :b "197",
   :rgb_hex "E58CC5",
   :set "contrast++"})